.list-todo-container{
    .add-todo{
        position: relative;
        width: 400px;
        margin: 0 auto;
        input{
            border: none;
            outline: none;
            width: 100%;
            height: 100%;
            padding: 5px;
           
        }
        button{
            position: absolute;
            right: -15px;
            top: 0.5px;
            width: 70px;
                padding: 5px;
                margin: 0 5px;
                border:none;
                border-left: 1px solid grey;
                cursor: pointer;
                background-color: white;
                transition: 0.2s ease-in-out;
                &:hover{
                    background-color: grey;
                }
        }
    }
    .list-todo-content{
        width: 420px;
        margin: 20px auto;

        .todo-child{
            padding: 10px 0;
            border-bottom: 1px solid grey;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: 0.2s ease-in-out;
            &:hover{
                background-color: rgba($color: #000000, $alpha: 0.3);
            }
            span{
                padding-left: 5px;
            }
            button{
                width: 70px;
                padding: 5px;
                margin: 0 5px;
                border:none;
                outline: none;
                cursor: pointer;
                transition: 0.2s ease-in-out;
                &:hover{
                    background-color: grey;
                }
            }
        }
    }
}